.root {
    max-width: 650px;
    margin: auto;
    padding: 0 10px;
}

.textField {
    width: 99%;
    margin: 30px 0;
}
.button {
    float: right;
    margin: 20px auto 20px !important;
}

.chips {
    margin-top: 20px;
    margin-bottom: 20px;
}
.chip {
    margin-right: 5px;
}

.dropzone {
    width: 75%;
    margin: 0 auto;
    padding: 30px;
}

@media (max-width: 500px) {
    .root {
        max-width: 100%;
    }
    .textField {
        margin: 0 auto 0;
    }
}