.root {
    max-width: 650px;
    margin: auto;
    padding: 0 10px;
}

.textField {
    width: 99%;
    margin: 30px 0;
}
.button {
    float: right
}

@media (max-width: 500px) {
    .root {
        max-width: 100%;
    }
    .textField {
        margin: 0 auto 0;
    }
}