.Root {
    max-width: 850px;
    margin: 0 auto 20px;
    text-align: left;
    padding-top: 30px;
    min-height: calc(100vh - 170px);
}


@media (max-width: 500px) {
    .Root {
        min-height: calc(100vh - 162px);
    }
}